/*--------------------------------------------------------------
  # dev-header Section
  --------------------------------------------------------------*/

#dev-header {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -200px;
}

#dev-header .body-container {
    background-image: url('../assets/img/section-developer/backgraund-header-developer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px;
    height: 75vh;
    position: relative;
}

#dev-header .body-right {
    margin-left: 0;
    margin-top: 200px;
}

#dev-header .body-left {
    margin-left: 0;
    margin-top: 200px;
}

#dev-header h1 {
    margin: 0 0 10px 0;
    font-size: 44px;
    font-weight: 500;
    line-height: 34px;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-header h2 {
    color: #3E4A74;
    margin-bottom: 50px;
    font-size: 20px;
}

#dev-header p {
    color: #3E4A74;
    font-size: 20px;
    line-height: 18px;
}

#dev-header .download-btn {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
    position: relative;
}

#dev-header .download-btn:hover {
    background: #5777ba;
}

#dev-header .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#dev-header .download-btn+.download-btn {
    margin-left: 20px;
}

#dev-header a {
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 991px) {
    #sign-header {
        text-align: center;
    }
    #sign-header .download-btn+.download-btn {
        margin: 0 10px;
    }
    #sign-header .sign-header-img {
        text-align: center;
    }
    #sign-header .sign-header-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #sign-header h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #sign-header h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #sign-header .sign-header-img img {
        width: 70%;
    }
}

.get-started-btn {
    background: #29B383;
    color: #fff;
    border-radius: 50px;
    margin: 0 15px;
    padding: 10px 25px;
}

#dev-header .btn-get-started {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 1px 66px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
}

#dev-header .box {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(41, 179, 131, 1) 35%, rgba(62, 74, 116, 1) 100%);
    color: #FFF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#3e4a74", GradientType=1);
    width: 275px;
    height: 246px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


/*--------------------------------------------------------------
  # dev-box Section
  --------------------------------------------------------------*/

#dev-box {
    width: 100%;
    padding: 8px 0 0px 0;
    margin-bottom: -75px;
    position: relative;
    top: -100px;
}

#dev-box .dev {
    width: 100%;
    background: #EFEFEF;
    position: relative;
    top: 140px;
}

#dev-box .flotante {
    top: -170px;
}

#dev-box h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-box h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

#dev-box .download-btn {
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 3px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
    position: relative;
}

#dev-box.download-btn:hover {
    background: #5777ba;
}

#dev-box .text {
    color: #3E4A74;
    line-height: 28px;
    margin-right: 160px;
}

#dev-box .download-btn i {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
}

#dev-box .box-container {
    margin-top: 0px;
    margin-bottom: 100px;
    top: -100px;
}

#dev-box .download-btn+.download-btn {
    margin-left: 20px;
}

#dev-box a {
    text-decoration: none;
    background-color: transparent;
}

#dev-box .box {
    background-image: url("../assets/img/section-developer/box-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    width: 383px;
    height: 366px;
    margin: 50px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dev-box .box img {
    width: 70%;
}

#dev-box .box-2 {
    background-image: url("../assets/img/section-developer/box-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    width: 383px;
    height: 366px;
    margin: -2px 34px 128px 39px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dev-box .box-2 img {
    width: 56%;
}

#dev-box .box-3 {
    background-image: url("../assets/img/section-developer/box-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    width: 383px;
    height: 366px;
    margin: 10px;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#dev-box .box-3 img {
    width: 45%;
}

#dev-box .dev .arrow {
    display: none;
}


/*--------------------------------------------------------------
  # dec-create Section
  --------------------------------------------------------------*/

#dev-create {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -75px;
}

.body-container-binario {
    background-image: url("../assets/img/section-developer/backgraund-binario.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 219px;
    bottom: 117px;
    position: absolute;
    z-index: -1000000;
}

#dev-create h1 {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #3E4A74;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create h2 {
    color: #1BB482;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create p {
    color: #3E4A74;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    font-family: "MYRIADPROREGULAR", sans-serif;
}

#dev-create .p-text {
    color: #3E4A74;
}

#dev-create .download-btn {
    cursor: pointer;
    background: #29B383;
    color: #fff;
    border-radius: 50px;
    font-size: 34px;
    margin: 0 15px;
    padding: 20px 30px 15px 30px;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-create a {
    text-decoration: none;
    background-color: transparent;
}

#dev-create .container-icons {
    display: none;
}


/*--------------------------------------------------------------
  # sign-info Section
  --------------------------------------------------------------*/

#dev-footer {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px 0 100px 0;
    margin-bottom: -75px;
}

#dev-footer h1 {
    margin: 0 0 10px 24px;
    font-size: 28px;
    font-weight: 500;
    line-height: 56px;
    color: #3b4b73;
    font-family: "MYRIADPRO", sans-serif;
}

#dev-footer h2 {
    color: #1BB482;
    margin-bottom: 10px;
    font-size: 20px;
}

#dev-footer .btn-get-started {
    cursor: pointer;
    font-family: "MYRIADPRO", sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 1px 38px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #29B383;
}

#dev-footer .btn-get-started:hover {
    background: #3b4b73;
}

#dev-footer .body-image {
    margin-left: 33px;
    position: relative;
    bottom: -172px;
}

#dev-footer a {
    text-decoration: none;
    background-color: transparent;
}

#dev-footer p {
    color: #3E4A74;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    font-family: "MYRIADPROREGULAR", sans-serif;
}

#dev-footer .body-container-btn {
    text-align: left;
}

#dev-footer .text-brackground {
    background-image: url("../assets/img/section-developer/Recurso9.png");
    background-repeat: no-repeat;
}

@media (max-width: 575px) {
    #sign-header .sign-header-img img {
        width: 80%;
    }
    #dev-header .body-container {
        background-image: url('../assets/img/section-developer/backgraund-header-mobil.png');
        height: 100vh;
    }
    #dev-header .body-right {
        margin-top: 36px;
    }
    #dev-header .body-left {
        margin-top: 67px;
    }
    #dev-box .box {
        width: 356px;
        height: 366px;
        margin: 22px 0 0 0;
    }
    #dev-box .box-2 {
        width: 356px;
        height: 366px;
        margin: 22px 0 0 0;
    }
    #dev-box .box-3 {
        width: 356px;
        height: 366px;
        margin: 22px 0 0 0;
    }
    #dev-box .box-container {
        background-image: url("../assets/img/section-developer/backgraund-container.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0px;
        margin-bottom: 0px;
        top: -273px;
        z-index: -1000;
    }
    #dev-box .box-container .container-xs {
        margin-top: 140px;
        margin-bottom: 140px;
    }
    #dev-box .dev {
        background: none;
    }
    #dev-box .dev .arrow {
        display: block;
        width: 90%;
    }
    #dev-box .dev .arrow img {
        width: 90%;
    }
    #dev-box .text {
        line-height: 28px;
        margin-right: 0;
    }
    #dev-create .body-left {
        padding: 5px 1px;
    }
    #dev-create {
        top: -219px;
    }
    #dev-create h1 {
        font-size: 37px;
    }
    #dev-create .container-btn {
        display: none;
    }
    #dev-create .container-icons {
        display: block;
    }
    .body-container-binario {
        background-image: url('../assets/img/section-developer/backgraund-binario-mobil.png');
        width: 100%;
        height: 473px;
        bottom: 111px;
    }
    #dev-create .p-text {
        padding-right: 100px;
    }
    #dev-create .p-text-right {
        padding-left: 100px;
        color: #3b4b73;
    }
    #dev-footer {
        top: -213px;
    }
    #dev-footer p {
        text-align: center;
    }
    #dev-footer .body-container-btn {
        text-align: center;
    }
    #dev-footer .text-brackground {
        background-image: url("../assets/img/section-developer/Recurso9.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    #dev-footer h1 {
        padding-right: 23px;
    }
    #dev-footer .body-image {
        bottom: -74px;
    }
}